nav {
  height: 88px;
  width: 100vw;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  background-color: var(--light);
}

.Search {
  width: 25vw;
  height: 56px;
  background-color: var(--cloud);
  border-radius: 8px;
  display: flex;
  align-items: center;
  img {
    padding: 16px 8px 16px 16px;
  }
  input {
    width: 100%;
  }
}

.Menu {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    li {
      cursor: pointer;
      img {
        scale: 0.8;
        &:hover {
          scale: 1;
        }
      }
    }
  }
}

.menuToggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.menuToggle div {
  position: relative;
}

.droppedList {
  position: fixed;
  top: 88px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 88px);
  background: var(--dark);
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.burger {
  scale: 0.7;
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
  align-self: flex-end;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--darker);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.burger input:checked ~ .droppedList {
  transform: translateX(0);
}

@media (max-width: 900px) {
  .burger {
    display: block;
  }
  .Menu {
    justify-content: flex-end;
    ul {
      display: none;
    }
  }
  .menuToggle {
    position: absolute;
    right: 10vw;
  }
  .droppedList {
    background-color: var(--cloud);
    display: flex;
    flex-direction: column;
    li:not(.burger-option) {
      margin-top: 50px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      gap: 10vw;
      img:hover {
        scale: 1.2;
      }
    }
  }

  .burger-option {
    text-align: center;
    padding: 25px 0;
    width: 80vw;
    cursor: pointer;
    &:hover {
      background-color: var(--offwhite);
    }
  }

  .Search {
    background-color: inherit;
    input {
      display: none;
    }
  }
}
